examples/cpu_usage_simulator.json
[{"id":"5dd5db06e188dadb","type":"function","z":"f3e346780eaa6c3c","name":"Main thread","func":"function blockCpuFor(ms) {\n    var now = new Date().getTime();\n    var result = 0\n    while(true) {\n        result += Math.random() * Math.random();\n        if (new Date().getTime() > now +ms)\n            return;\n    }   \n}\n\nswitch(msg.payload) {\n    case \"start_working\":\n        if (context.timer) {\n            node.error(\"The thread is already working\");\n            return;\n        }\n        else {\n            context.timer = setInterval(function() { \n                blockCpuFor(500);\n            } , 1000);\n            \n            node.status({fill:\"green\", shape:\"dot\", text:\"working...\"});\n        }\n        break;\n    case \"stop_working\":\n        if (!context.timer) {\n            node.error(\"The thread is not yet working\");\n            return;\n        }\n        else {\n            clearInterval(context.timer);\n            context.timer = null;\n            node.status({});\n        }\n}","outputs":0,"noerr":0,"initialize":"node.status({});","finalize":"node.status({});","libs":[{"var":"fs","module":"fs"},{"var":"Sleep","module":"sleep"}],"x":570,"y":540,"wires":[]},{"id":"24cc6c9bee12f5c5","type":"inject","z":"f3e346780eaa6c3c","name":"Start working","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"start_working","payloadType":"str","x":370,"y":540,"wires":[["5dd5db06e188dadb"]]},{"id":"327e610a51a83312","type":"inject","z":"f3e346780eaa6c3c","name":"Stop working","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"stop_working","payloadType":"str","x":370,"y":580,"wires":[["5dd5db06e188dadb"]]}]
