examples/measure_peaks_at_unpredictable_times.json
[{"id":"a00a54531685a00b","type":"function","z":"f3e346780eaa6c3c","name":"Manage worker threads","func":"switch(msg.payload) {\n    case \"create_worker\":\n        debugger;\n        var newWorker = new workerThreads.Worker('./web_worker_test_script.js');\n        context.workers.push(newWorker);\n        node.warn(\"Created new worker thread in the main process\");\n        break;\n    case \"terminate_worker\":\n        // Get and remove the first worker from the array\n        var workerToTerminate = context.workers.shift();\n        \n        if (!workerToTerminate) {\n            node.error(\"There are no workers to terminate\", msg);\n        }\n        else {\n            workerToTerminate.terminate();\n            node.warn(\"Terminated worker thread in the main process\");\n        }\n}\n\nnode.status({fill:\"green\", shape:\"dot\", text:context.workers.length + \" workers\"});","outputs":0,"noerr":0,"initialize":"var script = \n\"function blockCpuFor(ms) {                         \" +\n\"    var now = new Date().getTime();                \" +\n\"    var result = 0;                                \" +\n\"    while(true) {                                  \" +\n\"        result += Math.random() * Math.random();   \" +\n\"        if (new Date().getTime() > now +ms)        \" +\n\"            return;                                \" +\n\"    }                                              \" +\n\"}                                                  \" +\n\"                                                   \" +\n\"setInterval(function() {                           \" +\n\"    blockCpuFor(500);                              \" +\n\"} , 1000);                                         \"\n\nfs.writeFile('web_worker_test_script.js', script, function (err) {\n    if (err) {\n        node.error(\"Cannot create web_worker_test_script.js file: \" + err);\n    }\n});\n\nnode.status({fill:\"green\", shape:\"dot\", text:\"0 workers\"});\n\ncontext.workers = [];","finalize":"context.workers.forEach(function(workerToTerminate) {\n    workerToTerminate.terminate();\n})\n\ncontext.workers = [];\n\nfs.unlink('./web_worker_test_script.js', function(err) {\n    if (err) {\n        node.error(\"Cannot remove the web_worker_test_script. file\");\n    }\n})\n\nnode.status({fill:\"green\", shape:\"dot\", text:\"0 workers\"});","libs":[{"var":"fs","module":"fs"},{"var":"workerThreads","module":"worker_threads"}],"x":650,"y":760,"wires":[]},{"id":"7da2f9efe327f572","type":"inject","z":"f3e346780eaa6c3c","name":"Create worker thread","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"create_worker","payloadType":"str","x":380,"y":760,"wires":[["a00a54531685a00b"]]},{"id":"ebdcae1127007a21","type":"inject","z":"f3e346780eaa6c3c","name":"Terminate worker thread","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"terminate_worker","payloadType":"str","x":390,"y":800,"wires":[["a00a54531685a00b"]]},{"id":"73d6f4ae369fedd3","type":"change","z":"f3e346780eaa6c3c","name":"CPU main","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.cpu","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":880,"wires":[["d142b309ea2b89e2"]]},{"id":"cffb843b354b70b5","type":"inject","z":"f3e346780eaa6c3c","name":"Every second","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":380,"y":880,"wires":[["d648ce829921451a"]]},{"id":"d648ce829921451a","type":"process-resources","z":"f3e346780eaa6c3c","name":"Main process","outputField":"payload","analyzeChildren":false,"x":570,"y":880,"wires":[["73d6f4ae369fedd3"]]},{"id":"d142b309ea2b89e2","type":"range-for","z":"f3e346780eaa6c3c","name":"","above":"90","below":"200","for":"5","units":"s","continuous":true,"x":930,"y":880,"wires":[["a944357d.84422"],["42ab82ddf9d46ac0"]]},{"id":"52e139cf2d6b3b99","type":"v8-cpu-profiler","z":"f3e346780eaa6c3c","timeout":"10","name":"","x":1480,"y":940,"wires":[["20dcf53657d70f29"],["7b795a227ad5d116"]]},{"id":"4f54da14.06347c","type":"inject","z":"f3e346780eaa6c3c","name":"Open at startup","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":740,"y":940,"wires":[["f6a70b8437da24e7"]]},{"id":"a944357d.84422","type":"function","z":"f3e346780eaa6c3c","name":"Pass 1 msg","func":"// Only the reset message can allow a (single) message to pass again\nif (msg.topic == \"OPEN\") {\n    context.set(\"IS_OPEN\", true);\n    node.status({fill: \"green\", text:\"open\"});\n    return;\n}\n\n// Only the first message is allowed to pass\nif (context.get(\"IS_OPEN\") == true) {\n    context.set(\"IS_OPEN\", false);\n    node.status({fill: \"red\", text:\"closed\"});\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":940,"wires":[["d823c2910d48a445"]]},{"id":"27e8b85dfd3e3036","type":"file","z":"f3e346780eaa6c3c","name":"Save file","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1880,"y":940,"wires":[[]]},{"id":"20dcf53657d70f29","type":"change","z":"f3e346780eaa6c3c","name":"Construct filename","rules":[{"t":"set","p":"filename","pt":"msg","to":"'c:\\\\temp\\\\' & payload.startTimestamp & '-' & payload.endTimestamp & '.cpuprofile'","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"payload.profile","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1690,"y":940,"wires":[["27e8b85dfd3e3036"]]},{"id":"7b795a227ad5d116","type":"link out","z":"f3e346780eaa6c3c","name":"Incomplete profile","mode":"link","links":["fa92cf752a4c964b"],"x":1690,"y":1000,"wires":[],"l":true},{"id":"fa92cf752a4c964b","type":"link in","z":"f3e346780eaa6c3c","name":"Try next profile","links":["7b795a227ad5d116"],"x":740,"y":1000,"wires":[["f6a70b8437da24e7"]],"l":true},{"id":"d823c2910d48a445","type":"change","z":"f3e346780eaa6c3c","name":"Start profiling","rules":[{"t":"set","p":"payload","pt":"msg","to":"start_profiling","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":940,"wires":[["52e139cf2d6b3b99"]]},{"id":"f6a70b8437da24e7","type":"change","z":"f3e346780eaa6c3c","name":"Open gate","rules":[{"t":"set","p":"topic","pt":"msg","to":"OPEN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":940,"wires":[["a944357d.84422"]]},{"id":"42ab82ddf9d46ac0","type":"change","z":"f3e346780eaa6c3c","name":"Stop profiling","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop_profiling","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":900,"wires":[["52e139cf2d6b3b99"]]}]
